## Python Built-in functions playground - 75 in total

In [5]:
# all(iterable) return True if all elements of iterable are True

my_list = ['o', 1, 2, 'Text', True, 'abc'] # list elements can be different types
print(f"My list is: \n {my_list}, \n the result of all() is: {all(my_list)}")
print('*' * 15)
my_list.append('') # '' 空 被当做False处理。
print(f"My list is updated as: \n {my_list}, \n the result of all() is now: {all(my_list)}")

My list is:
 ['o', 1, 2, 'Text', True, 'abc'],
 the result of all() is: True
***************
My list is updated as:
 ['o', 1, 2, 'Text', True, 'abc', ''],
 the result of all() is now: False

In [6]:
# any() similar to all()

print(any(my_list))

True

In [8]:
# ascii() returns the ascii string of a string. 我理解为ascii的参数是想要输出的内容，ascii的结果为对应的输入。相当于给定输出求输入？？

print(ascii('\\') == "'\\\\'")
print(ascii('\n') == "'\\n'")
print(ascii('0b10') == "'2'")
print(ascii('0b10'))

True
True
False
'0b10'

In [4]:
# bin() Convert an integer number to a binary string prefixed with “0b”.

bin(2)

'0b10'

In [5]:
format(14, '#b'), format(14, 'b') # 不太懂 要学习一下format函数

('0b1110', '1110')

In [6]:
# class bool([x]) return a Boolean value, i.e. one of True or False. class部分要学习一下，回头再看这个。

#  x is now a positional-only parameter??? 这个的含义也不懂。

In [7]:
# breakpoint(*args, **kws)  debug function.暂时不懂。

In [8]:
# class bytearray([source[, encoding[, errors]]])

zip(*iterables)

Returns an iterator of tuples, where the _i_-th tuple contains the _i_-th element from each of the argument sequences or iterables. It stops when the shortest input iterable is exhausted. 

For example, it can do transpose on 2-d matrix:

In [77]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [79]:
list(zip(*matrix))

[(1, 4, 7, 10), (2, 5, 8, 11), (3, 6, 9, 12)]

## Sequence Types -- **list**, **tuple**, **range**

### Common Sequence Operations

The operations in the following table are supported by most sequence typs, both mutable and immutable.

In this table **s** and **t** are sequences of the same type, **n**, **i**, **j** and **k** are integers and **x** is an arbitrary object that meets any type and value restrictions imposed by **s**.

The **in** and **not in** have the same priorities as the comparison operations.
The **+** (concatenation) and **\*** (repetition) have the same priority as the corresponding numeric operations.

Operation | Result | Notes
---------- | ---------- | ----------
x in s | **True** if an item of s is equal to x, else **False** | 1
x not in s | **False** if an item of s is euqal to x, else **False** | 1
s + t | the concatenation of s and t | 6 7
s \* n or n \* s | equivalent to adding s to itself n times | 2 7
s[i] | *i*th item of s, origin 0 | 3
s[i:j] | slice of s from i(inc) to j(exc) | 3 4
s[i:j:k] | slice of s from i to j with step k | 3 5
len(s) | length of s | 
min(s) | smallest item of s |
max(s) | largest item of s | 
s.index(x[, i[, j]]) | index of the first occurrence of x in s (at or after index i and before index j) | 8 |
s.count(x) | total number of occurrences of x in s |

1. While the **in** and **not in** operations are used only for simple containment testing in the general case, some specialised sequences (such as **str**, **bytes**, **bytearray**) also use them for subsequence testing:

In [9]:
"gg" in "eggs"

True

2. Values of *n* less than **0** are treated as **0** (which yields an empty sequence of the same type as s). Items in the sequence **s** are not copied; they are referenced multiple times:    ~~(这个例子不是太理解，后边要继续看append() 回头看是不是可以理解这里了。)~~

In [10]:
'''Fist of all,we are talking about Sqeuence types here, so the following examle isn't part of this topic, it is here only for claritying 
It is not the same case when multiply non-list.'''
# have to know THIS is wrong to multiply a one-dimentional list:
lists4 = [] * 5 # This is an empty list, nothing to multiply.
lists4

[]

In [11]:
# You have to put something in the [] in order to multiply a one-dimentional list:

list5 = [2] * 5
list5

[2, 2, 2, 2, 2]

In [12]:
# Now try to change some item: 
# This example is different from the below, integers are multiplied here, not lists. Thus these items are independent from each other.
# 不确定这样解释对不对，再看看吧. 这样解释说得通，被此处被复制的是int 2，而不是list；所以互相独立。
list5[0] = 1
list5

[1, 2, 2, 2, 2]

Now we go back to 2.

In [22]:
lists = [[None]] * 5    #注意此处乘号在两层中括号的外侧，所以[None]被复制后集体在外层中括号的内部；\
# 被复制内容集体存在最外层中括号减1的位置。读不懂了看下下下边的有for loop的例子
lists
lists[0].append(2)
lists

[[None, 2], [None, 2], [None, 2], [None, 2], [None, 2]]

In [12]:
lists[1].append(3)
lists

[[None, 2, 3], [None, 2, 3], [None, 2, 3], [None, 2, 3], [None, 2, 3]]

What happened is that [[]] is a one-element list containing an empty list, so all three elements of [[]] \* 3 are references to this single empty list.Modifying any of the elements of lists modifies this single list. 就是说用 \* 新建的list 指向同一个引用；更改一个的内容，其他的一同改变。[check this for further explaination](https://docs.python.org/3/faq/programming.html#faq-multidimensional-list)

Use the following method to create a list of different lists this way:

In [15]:
lists2 = [[] for i in range(3)]
lists2[0].append(2)
lists2[1].append(3)
lists2[2].append(5)
lists2

[[2], [3], [5]]

In [17]:
lists3 = [[None] * 2 for i in range(3)]    #此处乘号在内外层中括号之间，所以multipy结果如下，此处注意六个None是互相独立的。
print(lists3)
lists3[0].append(2)
lists3[1].append(3)
lists3[2].append(5)
lists3 # append之后结果如下

[[None, None], [None, None], [None, None]]

[[None, None, 2], [None, None, 3], [None, None, 5]]

In [15]:
lists3[0][0] = 1    # 再次证明六个None之间是互相独立的。
lists3

[[1, None, 2], [None, None, 3], [None, None, 5]]

In [28]:
list4 = [[None] * 2] * 3 # 此例子跟上边做对比, 互相之间还是关联的。但上边例子中 for loop之前的乘2并没有关联！！！！！
print(list4)
list4[0][0] = 1
print(list4)
list4[0].append(2)
print(list4)

[[None, None], [None, None], [None, None]]
[[1, None], [1, None], [1, None]]
[[1, None, 2], [1, None, 2], [1, None, 2]]

In [27]:
# items are independent from each other, correct way to initialize a two-dimentional list: (because [None] * w multiplies a single value, not a list.？？？？？)
w, h = 2, 3
A = [[None] * w for i in range(h)]
A[0][0] = 1
A

[[1, None], [None, None], [None, None]]

3. If *i* or *j* is negative, the index is relative to the end of sequence s: **len(s) + i** or **len(s) + j** is substituted. But note that -0 is still 0.

4. **i** is inclusive, **j** is exclusive. If **i** or **j** is greater than **len(s)**, use **len(s)**. If **i** is omitted or **None**, use **0**. If **j** is omitted or **None**, use **len(s)**. If **i** is greater than or equal to **j**, the slice is empty.

5. s[i:j:k], the indices are **i**, **i+k**, **i+2k**, and so on, stopping when **j** is reached (but exclusive).还有解释，不写了，去网上看。。。

6. Concatenating immutable swquences always results in a new object, which means runtime cost is much higher!!! 4 ways to save the runtime. 看网站去。

7.

8.

## String

### string basic

If you don’t want characters prefaced by \ to be interpreted as special characters, you can use raw strings by adding an r before the first quote:

In [18]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically concatenated.

In [19]:
'Py' 'thon'

'Python'

In [32]:
text = ('Put several strings within parentheses ' 'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [30]:
type(text)

str

Python strings cannot be changed — they are immutable.

### String method

In [36]:
# str.strip([char])
'''The OUTERMOST leading and trailing chars argument values are stripped from the string. \
Unil reaching a string character that is not contained in the set of char, [char].\
The chars argument is not a prefix or suffix; rather, every single character \
in it is stripped. The default value is white-space.\
'''
# example:

'The OUTERMOST leading and trailing chars argument values are stripped from the string. Unil reaching a string character that is not contained in the set of char, [char].The chars argument is not a prefix or suffix; rather, every single character in it is stripped. The default value is white-space.'

In [23]:
'     spacious     '.strip()

'spacious'

In [24]:
'www.example.com'.strip('comwa') # pay attention here, a is not stripped, since it is in the inner side.

'.example.'

## Lists

Lists are mutable, able to contain different types of item.

Nest lists:

In [25]:
a = ['a', 'b', 'c']
b = [1, 2, 3]
x = [a, b]
x[0]

['a', 'b', 'c']

In [26]:
x[0][1]

'b'

生成连续数列：

In [27]:
list(range(3, 9))

[3, 4, 5, 6, 7, 8]

## Control Flow Tools

### if-elif-elif-else

### For Loops

* Python’s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.

In [51]:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

* If you need to modify the sequence you are iterating over while inside the loop (for example to duplicate selected items), it is recommended that you first make a copy. Iterating over a sequence does not implicitly make a copy. The slice notation makes this especially convenient: 作为循环判断条件的list：words在循环过程中被改变了，所以使用words[:]的方式在循环开始时复制一个words， 以此初始状态完成循环，循环过程中对words所做修改不再影响for循环的判定。也可以使用words.copy()

In [53]:
words = ['cat', 'window', 'defenestrate']
for w in words[:]:    #此处用的words[:]
    if len(w) > 6:
        words.insert(0, w) # insert w to the 0 position in words
words

['defenestrate', 'cat', 'window', 'defenestrate']

In [52]:
words = ['cat', 'window', 'defenestrate']
for w in words.copy():    此处用的words.copy()
    if len(w) > 6:
        words.insert(0, w) # insert w to the 0 position in words
words

['defenestrate', 'cat', 'window', 'defenestrate']

### range() function

In [30]:
for i in range(5):
    print(i, end=', ')

0, 1, 2, 3, 4,

In [31]:
for i in range(3, 5):
    print(i, end=', ')

3, 4,

In [32]:
for i in range(1, 20, 3):
    print(i, end=', ')

1, 4, 7, 10, 13, 16, 19,

### break and continue Statements, and else Clauses on Loops

1. break, breaks out of the innermost enclosing *for* or *while* loop

2. else clause: is executed when the loop terminates through exhaustion of the list (with *for* loop) or when the condition becomes false (with *while* loop), but not when the loop is terminated by a *break* statement，下面举一个找质数（prime number）的例子：

In [41]:
m = 10 # searching for all the prime numbers from zero to m.
for n in range(2, m+1):
    print(f'n is {n}')
    for x in range(2, n):
        print(f'x is {x}')
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number.')
'''\
In the above example, line3 and line7 are a pair 
(if for loop start from line3 finishes without a break,
the else clause will be executed).

注意n等于2时，x in range(2, 2)循环直接结束，进入else，2直接判定为质数。\
'''

n is 2
2 is a prime number.
n is 3
x is 2
3 is a prime number.
n is 4
x is 2
4 equals 2 * 2
n is 5
x is 2
x is 3
x is 4
5 is a prime number.
n is 6
x is 2
6 equals 2 * 3
n is 7
x is 2
x is 3
x is 4
x is 5
x is 6
7 is a prime number.
n is 8
x is 2
8 equals 2 * 4
n is 9
x is 2
x is 3
9 equals 3 * 3
n is 10
x is 2
10 equals 2 * 5

'In the above example, line3 and line7 are a pair \n(if for loop start from line3 finishes without a break,\nthe else clause will be executed).\n\n注意n等于2时，x in range(2, 2)循环直接结束，进入else，2直接判定为质数。'

3. The *continue* statement, contnues with the next iteration of the loop.

In [34]:
m = 10
for num in range(2, m):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found an odd number", num)

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

### pass Statements

pass does nothing. It can be used when a statement is required syntactically but the program requires no action: 定义了函数，loop等，内部需要有代码，否则会报错。又啥都不想写的时候，直接一个pass搞定。

In [ ]:
while True:
    pass # Busy-wait for keyboard interrupt

In [ ]:
class MyEnptyClass:
    pass

In [ ]:
def initlog(*args):
    pass # Remember to implement this!

### Looping Techniques

1. When looping through dictionaries, the key and corresponding value can be retrieved at the same time using the items() method.

In [42]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(f'{k}: {v}')

gallahad: the pure
robin: the brave

### Defining Functions

#### Function return:
* return without an expression argument returns **None**
* Falling off the end of a function also returns **None**

### More on Defining Functions

#### Default Argument Values:
* Specifying a default value for an argument, makes the argument **optional** when calling the function. 
* The default value is only evaluated once, when the function is defined. But, if the optional argument is a mutable object, and the function is called multiple times without specifying this argument, this value could be accumulated in the following example:

In [43]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

#### Keyword Arguments

1. Passing arguments to a function, can use **positional** or **keyword** arguments. More detailed are in [Python Docs](docs.python.org/3/tutorial/controlflow.html)

2. Two more options of passing arguments (these are **arbitrary number** of arguments):
    * \*name: It recieves a tuple containing the **positional** arguments beyond the formal parameter list. 
    * \*\*name: It recevices a dictionary containing all **keyword** arguments except for those corresponding to a formal parameter.
    * \*name should always be before \*\*name arguments

In [44]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print(f"-- I'm sorry, we're all out of {kind}.")
    for arg in arguments:
        print(arg)
    print('*' * 40)
    for key in keywords:
        print(key, ":", keywords[key])

The above could be called like this:

In [45]:
cheeseshop("Limburger", "It's very runny, sir.",
          "It's really very, VERY runny, sir.",
          shopkeeper="Michael Palin",
          client="John Cleese",
          sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger.
It's very runny, sir.
It's really very, VERY runny, sir.
****************************************
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

#### Unpacking Argument Lists

In [ ]:
list(range(3, 6))    # Normal call with separate arguments

In [ ]:
args = [3, 6]
list(range(*args)) # call with arguments unpacked from a list

#### Lambda Expressions

Small anonymous functions can be created with the **lambda** keyword.这个例子仔细看，make_incrementor是个关于n的函数，f是个关于x的函数。 

接受lambda function为参数的变量，作为lambdafunction的变量。

In [47]:
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(42)
f(1)

43

Another use is to pass a small function as an argument.

In [ ]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])    #按里层list第二个元素排序 也就是 按照one two three four的首字母排序 
# 下边list.sort()有进一步解释
pairs

#### Function Annotations

暂时用不到，用来说明自定义函数的参数类型，方便阅读代码的。

### Coding Style

1. Use 4-space indentation, and no **tabs**.

2. Wrap lines so that they don't exceed 79 characters.

3. Use blank lines to serarate functions and classes, and larger blocks of code inside functions.

4. When possible, put comments on a line of their own.

5. Use docstrings.   ?????

6. Use spaces around operators and after commas, but not directly inside bracketing constructs: (此处不太懂具体说的什么意思。)

    * a = f(1, 3) + g(3, 4)

7. Name your classes and functions consistently; the convention is to use **CamelCase** (每个单词首字母大写，单词间不空格) for classes and **lower_case_with_underscores**（全部小写，单词间用下划线分隔） for functions and methods.

8. Encodings: Python's default is UTF-8, or even plain ASCII works best in any case.

## Data Structures

### methods of list type

1. list.append(x)

Add an item to the end of the list. Equivalent to a[len(a):] = [x]   # 此处x可以是含有多项的list，但此list被append时 是作为一个整体被加入的。

2. list.extend(iterable) 

Add an item to the end of the list. Equivalent to a[len(a):] = [iterable]   

此处注意 iterable 需要是一个list，或者其他类型，暂时还不知道别的什么可以的，以后看到了再加上哦。

以上append 跟 extend 的区别在于 append的参数作为一个整体被加到list的最后；extend的参数必须是iterable的（看下边例子 出错的这个），拆分开分别加进list。

In [2]:
list_a = [1, 2, 3, 4, 5]
list_a.append(6)
list_a

[1, 2, 3, 4, 5, 6]

In [5]:
list_c = [1, 2, 3, 4, 5]
list_c.append([6, 7, 8])
list_c

[1, 2, 3, 4, 5, [6, 7, 8]]

In [3]:
list_b = [1, 2, 3, 4, 5]
list_b.extend([6, 7, 8])
list_b

[1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
list_d = [1, 2, 3, 4, 5]
list_d.extend(6)    # 此处故意写出错误代码 以示区别
list_d

TypeError: 'int' object is not iterable

3. list.insert(i, x)

Insert an item at a given position. 
* i is the index of the element before which to insert, so **a.insert(0, x)** inserts at the front of the list.
* **a.insert(len(a), x)** is equivalent to **a.append(x)**

4. list.remove(x)

    * Remove the first item from the list whose value is equal to x. 
    * It raises a **ValueError** if there is no such item.

5. list.pop([i])     

[]代表可选参数，参数默认值为-1.

Remove the item at the given position in the list, and return it. If no index is specified, it removes and returns the last item in the list.

6. list.clear()

Remove all items from the list. Equivalent to **del list[:]**

7. list.index(x[, start[, end]])

    * Return zero-based index in the list of the first item whose value is equal to x. Raises a **ValueError** if there is no such item.

    * The optional arguments are the slice notation. The returned index is still computed relative to the beginning of the full list.

8. list.count(x)

Return the number of times x appears in the list.

9. list.sort(key=None, reverse=False)

Sort the items of the list in place. key specifies a function of one argument that is used to extract a comparison key from each list element (key 必须是个function（lambda function）？？？)

In [48]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])    #按 里层 list第二个元素排序 也就是 按照one two three four的首字母排序
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [49]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=pairs[0][1])    #此处故意把key改成非lambda函数，以示区别。

TypeError: 'str' object is not callable

10. list.reverse()

Reverse the elements of the list in place.

11. list.copy()

Return a shallow copy of the list. Equivalent to **a[:]**.

Examples that uses most of the list methods:

In [10]:
fruits = ['orrange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [11]:
fruits.count('tangerine')

0

In [12]:
fruits.index('banana')

3

In [13]:
fruits.index('banana', 4)  # Find next banana starting at position 4

6

In [14]:
fruits.reverse()

In [15]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orrange']

In [16]:
fruits.append('grape')

In [17]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orrange', 'grape']

In [18]:
fruits.sort()

In [19]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orrange', 'pear']

In [20]:
fruits.pop()

'pear'

#### Using Lists as Stacks

* The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (last-in, first-out).
* To add an item to the top of the stack, use **append()**. To retrieve an item from the top of the stack, use **pop()** without an explicit index. For example:

In [21]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [22]:
stack.pop()

7

In [23]:
stack

[3, 4, 5, 6]

In [24]:
stack.pop()

6

In [25]:
stack

[3, 4, 5]

In [26]:
stack.pop()

5

In [27]:
stack

[3, 4]

#### Using Lists as Queues

As queues, the first element added is the first element retrieved (first-in, first-out); however, **lists are not efficient for this purpose**.Because all of the other elements have to be shifted by one.To implement a queue, use a **collections.deque** which was designed to have fast appends and pops from both ends. For example:

In [30]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")
queue.append("Graham")
queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [31]:
queue.popleft()    # no popright() function

'Eric'

In [29]:
queue.popleft()

'John'

In [32]:
queue

deque(['John', 'Michael', 'Terry', 'Graham'])

#### List Comprehensions

List comprehensions provide a concise way to create lists. Example:

In [54]:
squares = []
for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

下面是更简单的两种办法，算同样的squares

map(func, squence) function: 返回在squence上使用func函数得到的结果。

In [56]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [58]:
squares = [x**2 for x in range(10)] #this is more concise and readable
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

A list comprehension consists of brackets containing an expression followed by a *for* clause, then zero or more *for* or *if* clauses. The result will be a new list resulting form evluating the expression in the context of the *for* and *if* clauses which follow it. Example:

Combines the elements of two lists if they are not equal.

In [61]:
[(x, y) for x in [1,2,3] for y in [1,2,4,5] if x != y]

[(1, 2),
 (1, 4),
 (1, 5),
 (2, 1),
 (2, 4),
 (2, 5),
 (3, 1),
 (3, 2),
 (3, 4),
 (3, 5)]

The above is equavelent to:

In [62]:
combs = []
for x in [1,2,3]:
    for y in [1,2,4,5]:
        if x != y:
            combs.append((x, y))
combs

[(1, 2),
 (1, 4),
 (1, 5),
 (2, 1),
 (2, 4),
 (2, 5),
 (3, 1),
 (3, 2),
 (3, 4),
 (3, 5)]

If the expression is a tuple, it must be parenthesized:

In [64]:
vec = [-4, -2, 0, 2, 4]
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

filter the list with an *if* clause:

In [65]:
[x for x in vec if x >=0]

[0, 2, 4]

apply a function to all elements:

In [66]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

call a method on each element:

In [68]:
freshfruit = ['   banana', '   loganberry  ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

List comprehensions can contain complex expressions and nested functions:

In [69]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

#### Nested List Comprehensions

The initial expression in a list comprehension can be any arbitrary expression, including another list comprehension.

In [81]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

The following list comprehension will transpose rows and columns, easiest way to do transpose is by the built-in function zip(), shown below:

In [82]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

The above example is equal to:

In [83]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [84]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

### The del statement

It is used to remove an item from a list given its index instead of its value.

In [85]:
a = [-1, 1, 653, 435, 234.23, 99]
del a[0]
a

[1, 653, 435, 234.23, 99]

In [86]:
del a[:2]
a

[435, 234.23, 99]

It can also be used to delete the entire variable:

In [88]:
del a 
a    # Referencing the name hereafter will show an error.

NameError: name 'a' is not defined

### Tuples and Sequences

#### Tuple Basics

This is an example of tuple packing: (we'll see unpacking later)

In [89]:
t = 12345, 54321, 'hello'
t[0]

12345

In [90]:
t

(12345, 54321, 'hello')

In [91]:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello'), (1, 2, 3, 4, 5))

Tuples are immutable!!!!

In [92]:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

Special consideration for constructing tuples containing 0 or 1 items:

    * Empty tuples are constructed by an empty pair of parentheses
    
    * Tuples with 1 item is contructed by following a value with a comma (it is not sufficient to enclose a single value in parentheses). For example:

In [93]:
empty = ()
singleton = 'hello',
len(empty)

0

In [94]:
len(singleton)

1

In [95]:
singleton

('hello',)

tuple unpacking:

In [97]:
x, y, z, = t
x

12345

In [98]:
y

54321

In [99]:
z

'hello'

### Sets

A set is an **unordered** collection with **no duplicate** elements.

Basic uses:
    * membership testing ???????
    * eliminating duplicate entries

Also support mathematical operations like:
    * union
    * intersection
    * difference
    * symmetric difference ?????
    
How to create sets:
    * Curly braces {} (not for enpty sets, this will create an empty dictionary)
    * set() function (have to use this to create empty sets)
    * The above two ways are not exactly the same, see the below demo.
    
here's a brief demonstration:

In [102]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket) # duplicates have been removed
'orange' in basket # fast membership testing

{'banana', 'pear', 'apple', 'orange'}

False

In [103]:
'crabgrass' in basket

False

set operations on unique letters from two words

In [109]:
a = set('abracadabra') # use {} if you want to create a set == 'abracadabra'
b = set('alacazam')
a    # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [110]:
aa = {'abracadabra'} # same string, different sets as the above
aa

{'abracadabra'}

In [111]:
a - b    # letters in a but not in b

{'b', 'd', 'r'}

In [112]:
a | b    # letters in a or b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [113]:
a & b    # letters in a and b

{'a', 'c'}

In [114]:
a ^ b    # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

### Dictionaries